*.local
.arkini/
.DS_Store
.env
.env.*
.output
.tanstack
.vercel
.vite
bun.lock
bun.lockb
dist
game/*.game.arkpack
game/*.game.arkpack.sig
game/schema.json
node_modules
out
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
yarn.lock

release
desktop-package
