*.local
.arkini/
.out/
.DS_Store
.env
.env.*
bun.lock
bun.lockb
game/schema.json
node_modules
.npm-cache/
arkini-npm-cache-linux-x64-*.tgz
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
yarn.lock
